/* DashboardAdmin.css */

.dashboard-container {
  padding: 32px;
}

.user-card {
  border: 1px solid #ccc;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 6px;
}

.status-list li {
  margin-bottom: 4px;
}

.status-ativo {
  color: green;
  font-weight: bold;
}

.status-pendente {
  color: orange;
  font-weight: bold;
}

.status-recusado {
  color: red;
  font-weight: bold;
}


